.productdisplay {
  display: flex;
  margin: 80px 170px;
}
.productdisplay-left {
  display: flex;
}
.productdisplay-right {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productdetail-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 25px;
  font-weight: 700;
}

.productdisplay-prices .oldprice {
  color: gray;
  text-decoration: line-through;
}
.productdisplay-prices .newprice {
  color: red;
}
.product-size h4 {
  margin-top: 30px;
  color: gray;
  font-size: 20px;
  font-weight: 600;
}
.slectsize {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}
.slectsize div {
  padding: 5px 15px;
  background: #fbfbfb;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: rgb(0, 0, 0);
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: black;
    border: 2px solid #000;
  }
}
/* .product-right-category{
    margin-top: 10px;
}
.product-right-category span{
    font-weight: 600;
} */
